* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*  ===== header ===== */

.nav {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.nav__list {

    display: flex;
}

.logo {
    padding-top: 10px;
}

.nav__list_link {
    padding: 20px 25px;
    display: inline-block;
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    color: #4d4d4d;
    transition: 1s;
}

.nav__list_link:hover {
    color: #f7f7f7;
    background: #c1bc45;
}

.header {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__content {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-family: Arial;
    font-size: 100px;
    font-weight: 700;
    color: #c0bc45;
    line-height: 75px;
}

.header__description {
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    color: #4d4d4d;
    margin-top: 18px;
}

.header__description_span {
    font-weight: 900;
    color: #000;
}

/* ======= header ======= */
/* ========= main ======= */

.main {
    padding-top: 90px;
    padding-bottom: 130px;

}

.main-content {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-content__title {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-content__title_span {
    font-size: 25px;

}

.main-content__description {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    line-height: 27px;
    max-width: 520px;
}

.card {
    display: flex;
    border: 4px solid #aeaeae;
    padding: 13px 5px 13px 23px;
    align-items: center;
    transition: 1s;
}

.card:hover {
    border-color: #f0efb6;
}

.card-content {
    margin-left: 40px;
}

.card-content__title {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    line-height: 18px;
}

.card-content__description {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    color: #919191;
    max-width: 340px;
    line-height: 20px;
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ========= /main ======= */

/* ========= footer ======== */
.footer {
    background: #eee9e9;
    padding-top: 105px;
    padding-bottom: 30px;
}

.footer__content {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list {
    display: flex;
}
.footer-list__link {
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    color: #4d4d4d;
    border-bottom: 4px solid transparent;
    margin-left: 50px;
    padding-bottom: 10px;
    transition: 1s;
}
.footer-list__link:hover{
border-color: #ff0000;
}
.footer__content_description{
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    color: #5a5a5a;

    text-align: center;
    margin-top: 65px;
}
/* ========= /footer ======== */